{% extends "base.html" %}

{% block content %}

	<section class="span9 artigo">

		<article>
			<header>
				<h1>Titulo do Post</h1>
				<h2>Data: 08/Ago/2012 Comentários: 13</h2>
			</header>
			<p>
				Este é um post e tal.. vai ver várias coisas!!
			</p>
		</article>

		<article>
			<header>
				<h1>Titulo do Post 2</h1>
				<h2>Data: 06/Ago/2012 Comentários: 13</h2>
			</header>
			<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget orci tellus. Phasellus in metus enim, feugiat placerat velit. Aenean iaculis, libero ac laoreet eleifend, lectus libero fermentum lectus, eget convallis mi leo vel nisl. Suspendisse ac turpis metus, ac porta erat. Nulla nec magna nisl. Praesent pretium purus vel elit ultricies sagittis. Phasellus ornare faucibus leo convallis feugiat. Praesent eu arcu eget elit pulvinar faucibus id vel urna. Fusce aliquet lacus non dolor bibendum convallis. Sed urna tortor, pretium adipiscing interdum in, elementum et lacus. Vivamus quis felis ac lectus aliquet porttitor. Donec fermentum facilisis pellentesque. Aenean tincidunt nibh nec odio scelerisque tincidunt. Donec in eros quam.
			</p>

			<p>
Praesent ultrices vulputate magna, ac ornare nulla blandit sed. Suspendisse vel ipsum lectus, sit amet ultrices elit. Pellentesque porta lacus eget nisi faucibus in porttitor sem scelerisque. Cras bibendum elementum sapien, vitae tincidunt arcu imperdiet sed. Phasellus ac tortor quam. Quisque eu risus risus. Proin eget mauris eget mi pulvinar pretium nec sit amet felis. Mauris libero libero, viverra a ultrices id, faucibus at neque. Vestibulum pretium ultrices lobortis.
			</p>

			<p>
Etiam pellentesque placerat eleifend. Vivamus ornare fermentum aliquet. Fusce ut odio diam, vel consectetur mi. Maecenas in diam nec urna euismod varius vitae faucibus arcu. Nulla eu tortor lorem. Quisque at turpis leo, ut consectetur tortor. Nullam scelerisque consectetur sem at aliquam. Aliquam erat volutpat. Aenean pretium libero vel massa blandit ultrices. Ut lobortis, nunc ut dapibus pharetra, nibh massa fermentum erat, ac porta quam lectus placerat nulla. 
			</p>
		</article>

	</section>

{% include 'sidebar.html' %}

{% endblock %}
