{%for post in posts%}
	<article>
	<header class="row">
		<div class="span7 post-title"><a href="/blog/article/{{post.slug}}">{{post.title|title}}</a>
			<br><span class="post-date">Em: {{post.date_created.strftime('%d/%B/%Y')}}</span>
		</div>
    	<div class="input-prepend span2">
		    <span class="add-on"><i class="icon-comment"></i>10</span>
		    <span class="add-on"><i class="icon-thumbs-up"></i>12</span>
		    <span class="add-on"><i class="icon-thumbs-down"></i>2</span>
	    </div>
	</header>
	<div class="row">
		{%if post.picture %}
		<div class="span3">
			<a href="#" class="thumbnail postbanner">
				<img src="http://placehold.it/220x100" alt="">
			</a>
		</div>
		<div class="span6">
		{%else%}
		<div class="span9">
		{%endif%}

		{%if post.resume%}
			<p>{{post.resume}}</p>
		{%else%}
			{{post.content|safe|truncate(length=800)}}
		{%endif%}
		</div>
	</div>
	</article>

<hr>
{%endfor%}
{%if fim%}
		<img src="{{url_for('static', filename='img/finish_flag.png')}}"><div id="nomoreresults" class="offset3">Não há mais posts para serem lidos.</div>
{%endif%}
