{% extends "base.html" %}

{% block head %}

<!-- EpicEditor -->
<!-- <script type="text/javascript" src="{{url_for('blog.static', filename="epiceditor/js/epiceditor.min.js")}}"></script> -->

<!-- Jquery AJaxForm http://jquery.malsup.com/form -->
<script type="text/javascript" src="{{url_for('static', filename="js/jquery.form.js")}}"></script>
<!-- http://www.malsup.com/jquery/block/ -->
<script type="text/javascript" src="{{url_for('static', filename="js/jquery.blockUI.js")}}"></script>

<!-- Editor Markdown -->
<!-- http://dillinger.io/ -->
<!-- http://ace.ajax.org -->
<script type="text/javascript" src="{{url_for('static', filename="ace-editor/src-min-noconflict/ace.js")}}"></script>

<script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>

<!-- http://softwaremaniacs.org/soft/highlight/en/ -->

<style type="text/css">
#editor{
	height: 300px;
	margin: 0;
    position: relative;
    padding: 0px !important;
}
</style>

<script src="{{url_for('static', filename="file-upload/jquery.MultiFile.pack.js")}}"></script>
{% endblock %}

{% block content %}

	<div id="retorno"></div>
{% include 'mensagens.html' %}

<!-- http://www.tidbits.com.br/como-fazer-accordion-simples-com-jquery-em-5-linhas-de-codigo -->
	<form id="form-new-post" class="well form-horizontal" enctype="multipart/form-data" action="{{url_for('blog.save_post')}}" method="POST">
	{% if post %}
		<h1 id="acao">Editar post</h1>
		<label id="id">Post id:{{post.id}}</label>
		<input type="hidden" name="id" value="{{post.id}}">
		<label for="title">Título</label><input class="span7 required" id="title" name="title" type="text" length="150" value="{{post.title}}"><br>&nbsp;
		<label class="checkbox" for="featured"><input type="checkbox" value="featured" id="featured" name="featured" {%if post.featured%}checked="checked"{%endif%}>Post destacado</label>
		<pre id="editor">{{post.content}}</pre>
		<input type="hidden" id="content" name="content" value="{{post.content}}">
		<label for="resume">Resumo</label><textarea class="span12 required" id="resume" name="resume">{{post.resume}}</textarea>
		<label for="slug">Slug</label><input class="span7 required" id="slug" name="slug" type="text" length="150" value="{{post.slug}}">
		<label for="tags">Tags</label><input class="span8" id="tags" name="tags" type="text" lenght="500" value="{{post.tags}}">
		<label for="postfile">Banner (use este campo para alterar o banner)</label><input type="file" id="postfile" name="postfile">
		<div id="postfile-list"></div>
		<img src="{{post.picture}}" class="img-featured">
	{% else %}
		<h1 id="acao">Novo post</h1>
		<label for="title">Título</label><input class="span7 required" id="title" name="title" type="text" length="150"><br>&nbsp;
		<label class="checkbox" for="featured"><input type="checkbox" value="featured" id="featured" name="featured">Post destacado</label>
		<pre id="editor"></pre>
		<input type="hidden" id="content" name="content" value="">
		<label for="resume">Resumo</label><textarea class="span12 required" id="resume" name="resume"></textarea>
		<label for="slug">Slug</label><input class="span7 required" id="slug" name="slug" type="text" length="150">
		<label for="tags">Tags</label><input class="span8" id="tags" name="tags" type="text" lenght="500" value="">
		<label for="postfile">Banner (use este campo para enviar o banner)</label><input type="file" id="postfile" name="postfile">
		<div id="postfile-list"></div>
	{% endif %}
		<br>
		<input type="submit" id="btn-enviar" class="btn btn-large btn-primary pull-right" value="Salvar">
	</form>

{% endblock %}


{%block bottompage%}
<script type="text/javascript" src="{{url_for('blog.static', filename="js/new-post.js")}}"></script>
{%endblock%}
