{% extends "base.html" %}

{% block content %}

{% include 'mensagens.html' %}

	<section class="span9 artigo">

		<article>
			<header>
				<h1>Titulo do Post</h1>
				<h2>Data: 08/Ago/2012 Comentários: 13</h2><span id="post-editor"><a href="/blog/edit/5" class='awesome'>Editar</a>
			</header>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget orci tellus. Phasellus in metus enim, feugiat placerat velit. Aenean iaculis, libero ac laoreet eleifend, lectus libero fermentum lectus, eget convallis mi leo vel nisl. Suspendisse ac turpis metus, ac porta erat. Nulla nec magna nisl. Praesent pretium purus vel elit ultricies sagittis. Phasellus ornare faucibus leo convallis feugiat. Praesent eu arcu eget elit pulvinar faucibus id vel urna. Fusce aliquet lacus non dolor bibendum convallis. Sed urna tortor, pretium adipiscing interdum in, elementum et lacus. Vivamus quis felis ac lectus aliquet porttitor. Donec fermentum facilisis pellentesque. Aenean tincidunt nibh nec odio scelerisque tincidunt. Donec in eros quam.

			</p>
		</article>

	</section>

{% include 'sidebar.html' %}

{% endblock %}
