   <aside class="span3">

    <section class="widget">
     <h3>Ultimos Posts</h3>
     <ul>
      <li>Post 1</li>
      <li>Post 1</li>
      <li>Post 1</li>
      <li>Post 1</li>
    </ul>
  </section>
  <section class="widget">
   <h3>Ultimos Comentarios</h3>
   <ul>
    <li>Post 1</li>
    <li>Post 1</li>
    <li>Post 1</li>
    <li>Post 1</li>
  </ul>
</section>
<section class="widget">
 <h3>Twitter</h3>
 <ul>
  <li>Post 1</li>
  <li>Post 1</li>
  <li>Post 1</li>
  <li>Post 1</li>
</ul>
</section>


</aside>
