body{
	padding: 10px;
}
header {
	height: 100px;
}

.container{
	background-color: transparent;
}

article{
	background-color: transparent;
	display: inline-block;
}

.widget{
	background-color: transparent;
}

.postbanner{
	margin-right: 30px;
	margin-left: 0px !important;
}