@font-face{
	/*http://paulirish.com/2009/bulletproof-font-face-implementation-syntax/*/
	font-family: 'Birdman';
	src: url('/static/font/BIRDMAN.TTF') format('truetype');
}

body{
	padding: 10px;
}
header {
	/*height: 100px;*/
}

.container{
	background-color: transparent;
}

article{
	background-color: transparent;
	display: inline-block;
}

.widget{
	background-color: transparent;
}

.postbanner{
	margin-right: 30px;
	margin-left: 0px !important;
}

.comments{
	border: 0px solid black;
	margin-bottom: 20px;
}

.comments .comment{
	margin-left: 15px;
}

.comment .comment-header{
	font-weight: bold;
	clear: both;
	margin-top: 5px;
}

.comment span{
	display: block;
}

.comment .comment-content{
	clear: both;
}

.comment .comment-content img{
	float: left;
	margin-right: 5px;
	clear: both;
}

#toplink{
	position: fixed;
	bottom: 5%;
	right: 20%;
}

label .error{
	background-color: #FF0000;
    color: #FFFFFF;
    font-weight: bold;
    padding: 3px;
}

/*for blog list*/

.artigos header{
	margin-bottom: 10px;
}

.artigos header h2{
	font-style: italic;
}

.post-date {
	background: #000 url('../img/fulldate-red.jpg') no-repeat scroll top left;
	width:60px;
	height:58px;
	color:#FFFFFF;
	padding-top: 1px;
	text-align:center;
	text-transform:uppercase;
}
.post-date .month {
	font-size:9px;
	font-weight:bold;
}
.post-date .day {
	color:#333;
	font-size:30px;
	font-weight: bold;
	margin-top: 8px;
}
