@font-face{
	/*http://paulirish.com/2009/bulletproof-font-face-implementation-syntax/*/
	font-family: 'Birdman';
	src: url('/static/font/BIRDMAN.TTF') format('truetype');
}

body{
	padding: 10px;
}
header {
	height: 100px;
}

.container{
	background-color: transparent;
}

article{
	background-color: transparent;
	display: inline-block;
}

.widget{
	background-color: transparent;
}

.postbanner{
	margin-right: 30px;
	margin-left: 0px !important;
}

.comments{
	border: 0px solid black;
	margin-bottom: 20px;
}

.comments .comment{
	margin-left: 15px;
}

.comment .comment-header{
	font-weight: bold;
	clear: both;
	margin-top: 5px;
}

.comment span{
	display: block;
}

.comment .comment-content{
	clear: both;
}

.comment .comment-content img{
	float: left;
	margin-right: 5px;
	clear: both;
}

#toplink{
	position: fixed;
	bottom: 5%;
	right: 20%;
}

