{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"/>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

{% block content %}

	<section class="span12">

	    <div id="myCarousel" class="carousel slide">
		    <!-- Carousel items -->
		    <div class="carousel-inner">
			    <div class="active item">
			    	<img src="{{url_for('blog.static',filename='post-images/placehold.png')}}" alt="">
			    	<div class="carousel-caption">
			    		<h4><a href="/post/meu-primeiro-post">First Thumbnail label</a></h4>
			    		<p>Saiba mais sobre este post!.</p>
			    	</div>
			    </div>
			    <div class="item">
			    	<img src="{{url_for('blog.static',filename='post-images/placehold.png')}}" alt="">
			    	<div class="carousel-caption">
			    		<h4><a href="/post/meu-primeiro-post">First Thumbnail label</a></h4>
			    		<p>Saiba mais sobre este post!.</p>
			    	</div>
			    </div>
			    <div class="item">
			    	<img  src="{{url_for('blog.static',filename='post-images/placehold.png')}}" alt="">
			    	<div class="carousel-caption">
			    		<h4><a href="/post/meu-primeiro-post">First Thumbnail label</a></h4>
			    		<p>Saiba mais sobre este post!.</p>
			    	</div>
			    </div>
			    <div class="item">
			    	<img  src="{{url_for('blog.static',filename='post-images/placehold.png')}}" alt="">
			    	<div class="carousel-caption">
			    		<h4><a href="/post/meu-primeiro-post">First Thumbnail label</a></h4>
			    		<p>Saiba mais sobre este post!.</p>
			    	</div>
			    </div>
		    </div>
		    <!-- Carousel nav -->
		    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	    </div>

	</section>

	<section class="span12">
		<hr>
		<div class="row">
			<div class="span4">
				<h3>Últimos posts</h3>
				<ul>
					{%for post in posts%}
					<li><a href="{{url_for('blog.view_post',slug=post.slug)}}">{{post.title}}</a></li>
					{%endfor%}
				</ul>
				<a id="more-posts" href="{{url_for('blog.blog_index')}}" class="btn btn-small span3">Veja todos</a>
			</div>
			<div class="span4">
				<h3>Ultima foto do Flickr</h3>
				{{flickr_photo|safe}}
				</a>
			</div>
			<div class="span4">
				<h3>Procurar</h3>
				<p>Digite as palavras que deseja procurar</P>
			    <form id="form-search" class="well form-inline">
			    	<div class="input-prepend">
			    	<span class="add-on"><i class="icon-search"></i></span>
				    <input type="text" class="input-large search-query">
					</div>
				    <button type="submit" class="btn">Buscar</button>
			    </form>
				<h3>Assine</h3>
				<p>Informe seu e-mail para receber informações peródicas sobre novos conteúdos no site</P>
			    <form class="well form-inline">
			    	<div class="input-prepend">
			    	<span class="add-on">@</span>
				    <input type="text" class="input-large search-query">
				    </div>
				    <button type="submit" class="btn">Assinar</button>
			    </form>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="span4">
				<h3>Random posts</h3>
				<ul>
					{%for post in random_posts%}
					<li><a href="{{url_for('blog.view_post',slug=post.slug)}}">{{post.title}}</a></li>
					{%endfor%}
				</ul>
			</div>
			<div class="span4">
				<h3>Últimos comentários</h3>
				<ul>
					{%for comment in comments%}
					<li>{{comment.title}}</li>
					{%endfor%}
				</ul>
			</div>
			<div class="span4">
				<h3>Últimos twitts</h3>
				{%for twitt in twitts%}
				<p><i class="icon-asterisk"></i><a href="http://twitter.com/berlottocdd/status/{{twitt.id}}">{{twitt.text}}</a></p>
				{%endfor%}
				<a href="https://twitter.com/berlottocdd" class="twitter-follow-button" data-show-count="false" data-lang="pt" data-size="large">Seguir @berlottocdd</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

			</div>
		</div>
	</section>

{% endblock %}


{% block bottompage %}

<script type="text/javascript">
    $('.carousel').carousel({
    	interval: 5000
    });
</script>

{% endblock %}
