{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"/>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
  <section class="span12">
    {% for message in messages %}
      <div class="alert">{{ message }}</div>
    {% endfor %}
  </section>
  {% endif %}
{% endwith %}

	<section class="span12">
	    <div id="myCarousel" class="carousel slide">
		    <!-- Carousel items -->
		    <div class="carousel-inner">
		    	{%for fp in featured_posts%}
				    <div class="{%if loop.first%}active{%endif%} item">
				    	<img src="{{fp.picture_url}}" alt="">
				    	<div class="carousel-caption">
				    		<h4><a href="{{url_for('blog.view_post',slug=fp.slug)}}">{{fp.title}}</a></h4>
				    		<p>{{fp.resume}}</p>
				    	</div>
				    </div>
		    	{%endfor%}
<!-- 			    <div class="item">
			    	<img  src="{{url_for('blog.static',filename='post-images/placehold.png')}}" alt="">
			    	<div class="carousel-caption">
			    		<h4><a href="/post/meu-primeiro-post">First Thumbnail label</a></h4>
			    		<p>Saiba mais sobre este post!.</p>
			    	</div>
			    </div> -->
		    </div>
		    <!-- Carousel nav -->
		    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	    </div>

	</section>

	<section class="span12">
		<hr>
		<div class="row">
			<div class="span4">
				<h3>Últimos posts</h3>
				<ul>
					{%for post in posts%}
					<li><a href="{{url_for('blog.view_post',slug=post.slug)}}">{{post.title}}</a></li>
					{%endfor%}
				</ul>
				<a id="more-posts" href="{{url_for('blog.blog_index')}}" class="btn btn-small span3">Veja todos</a>
			</div>
			<div class="span4">
				<h3>Ultima foto do Flickr</h3>
				{{flickr_photo|safe}}
				</a>
			</div>
			<div class="span4">
				<h3>Procurar</h3>
				<p>Digite as palavras que deseja procurar</P>
			    <form id="form-search" class="well form-inline">
			    	<div class="input-prepend">
			    	<span class="add-on"><i class="icon-search"></i></span>
				    <input type="text" placeholder="pesquisar...">
					</div>
				    <button type="submit" class="btn">Buscar</button>
			    </form>
				<h3>Assine</h3>
				<p>Informe seu e-mail para receber informações peródicas sobre novos conteúdos no site</P>
			    <form id="form-assinar" class="well form-inline">
			    	<div class="input-prepend">
			    	<span class="add-on">@</span>
				    <input type="text" placeholder="seu e-mail...">
				    </div>
				    <button type="submit" class="btn">Ok</button>
			    </form>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="span4">
				<h3>Random posts</h3>
				<ul>
					{%for post in random_posts%}
					<li><a href="{{url_for('blog.view_post',slug=post.slug)}}">{{post.title}}</a></li>
					{%endfor%}
				</ul>
			</div>
			<div class="span4">
				<h3>Últimos comentários</h3>
				<ul>
					{%for comment in comments%}
					<li>{{comment.title}}</li>
					{%endfor%}
				</ul>
			</div>
			<div class="span4">
				<h3><a href="http://twitter.com/#!/berlottocdd" target="_blank">Últimos twitts</a></h3>
				{%for twitt in twitts%}
				<p><a href="http://twitter.com/berlottocdd/status/{{twitt.id}}"><i class="icon-share"></i></a>&nbsp;{{twitt.text|urlize}}</p>
				{%endfor%}
				<a href="https://twitter.com/berlottocdd">Seguir @berlottocdd</a>

			</div>
		</div>
	</section>

{% endblock %}


{% block bottompage %}

<script type="text/javascript">
    $('.carousel').carousel({
    	interval: 5000
    });
</script>

{% endblock %}
