{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"/>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

{% block content %}

	<section class="span12">

	    <div id="myCarousel" class="carousel slide">
		    <!-- Carousel items -->
		    <div class="carousel-inner">
			    <div class="active item">
			    	<img src="{{url_for('blog.static',filename='post-images/placehold.png')}}" alt="">
			    	<div class="carousel-caption">
			    		<h4><a href="/post/meu-primeiro-post">First Thumbnail label</a></h4>
			    		<p>Saiba mais sobre este post!.</p>
			    	</div>
			    </div>
			    <div class="item">
			    	<img src="{{url_for('blog.static',filename='post-images/placehold.png')}}" alt="">
			    	<div class="carousel-caption">
			    		<h4><a href="/post/meu-primeiro-post">First Thumbnail label</a></h4>
			    		<p>Saiba mais sobre este post!.</p>
			    	</div>
			    </div>
			    <div class="item">
			    	<img  src="{{url_for('blog.static',filename='post-images/placehold.png')}}" alt="">
			    	<div class="carousel-caption">
			    		<h4><a href="/post/meu-primeiro-post">First Thumbnail label</a></h4>
			    		<p>Saiba mais sobre este post!.</p>
			    	</div>
			    </div>
			    <div class="item">
			    	<img  src="{{url_for('blog.static',filename='post-images/placehold.png')}}" alt="">
			    	<div class="carousel-caption">
			    		<h4><a href="/post/meu-primeiro-post">First Thumbnail label</a></h4>
			    		<p>Saiba mais sobre este post!.</p>
			    	</div>
			    </div>
		    </div>
		    <!-- Carousel nav -->
		    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	    </div>

	</section>

	<section class="span12">
		<hr>
		<div class="row">
			<div class="span4">
				<h1>Últimos posts</h1>
				<ul>
					<li>Post1</li>
					<li>Post1</li>
					<li>Post1</li>
					<li>Post1</li>
					<li>Post1</li>
					<li>Post1</li>
				</ul>
			</div>
			<div class="span4">
				<h1>Últimos comentários</h1>
				<ul>
					<li>Post1</li>
					<li>Post1</li>
					<li>Post1</li>
					<li>Post1</li>
					<li>Post1</li>
					<li>Post1</li>
				</ul>
			</div>
			<div class="span4">
				<h1>Assine</h1>
				<p>Informe seu e-mail para receber informações peródicas sobre novos conteúdos no site</P>
			    <form class="well form-inline">
				    <input type="text" class="input-medium search-query">
				    <button type="submit" class="btn">Assinar</button>
			    </form>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h1>Ultima foto do Instagram</h1>
				<a href="#" class="thumbnail">
					<img src="http://placehold.it/250x190" alt="">
				</a>
			</div>
			<div class="span4">
				<h1>Ultima foto do Flickr</h1>
				<a href="#" class="thumbnail">
					<img src="http://placehold.it/250x190" alt="">
				</a>
			</div>
			<div class="span4">
				<h1>Últimos twitts</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas semper mollis nibh in tincidunt. Etiam egestas velit ut lacus feugiat sed. </p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas semper mollis nibh in tincidunt. Etiam egestas velit ut lacus feugiat sed. </p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas semper mollis nibh in tincidunt. Etiam egestas velit ut lacus feugiat sed. </p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas semper mollis nibh in tincidunt. Etiam egestas velit ut lacus feugiat sed. </p>
			</div>
		</div>
	</section>

{% endblock %}


{% block bottompage %}

<script type="text/javascript">
    $('.carousel').carousel({
    	interval: 5000
    });
</script>

{% endblock %}
