{% extends "base.html" %}

{% block head %}
<script src="http://malsup.github.com/jquery.form.js"></script>
<style type="text/css">
td .center{
	text-align: center;
	vertical-align: middle;
}
</style>
{% endblock %}

{% block content %}

{% include 'mensagens.html' %}

	<section class="span9 listagem">

		<h2>Listagem dos Links</h2>

	    <form class="well form-search">
		    <input type="text" class="input-large search-query" name="filter">
		    <button type="submit" class="btn">Search</button>
		</form>
		<table id="listagem-post" class="table table-striped table-bordered table-condensed">
			<tr>
				<th>#</th>
				<th>Sidebar</th>
				<th>Título</th>
				<th>Url</th>
				<th>Short</th>
			</tr>

		{% for link in links %}
			<tr>
				<td>
					<input type="checkbox">
					<a href="{{url_for('delete_link', link_id=link.id)}}"><i class="icon-remove"></i></a>
					<a href="{{url_for('edit_link', link_id=link.id)}}"><i class="icon-edit"></i></a>
				</td>
				<td class="center">
				{%if link.sidebar%}
				<input type="checkbox" checked="checked">
				{%else%}
				<input type="checkbox">
				{%endif%}
				</td>
				<td>{{link.title or ''}}</td>
				<td><a href="{{link.url}}">{{link.url}}</a></td>
				<td><a href="{{link.short_url}}">{{link.short_url}}</a></td>
			</tr>
		{% endfor %}
		</table>

		<ul class="pager">
			<li class="previous">
				<a href="" title="Pagina anterior"><i class="icon-backward"></i></a>
			</li>
			<li>1,</li>
			<li>2,</li>
			<li>3,</li>
			<li>4,</li>
			<li class="next">
				<a href="" title="Próxima página"><i class="icon-forward"></i></a>
			</li>
		</ul>

	</section>

{% endblock %}

{% block bottompage %}
<script type="text/javascript">
    // wait for the DOM to be loaded
    $(document).ready(function() {
        // bind 'form-comentario' and provide a simple callback function
        $('#form-comentario').ajaxForm(function() {
            alert("Thank you for your comment!");
        });
    });
</script>
{% endblock %}
